{% extends "layout.html" %}

{% block content %}
    <h1>{{ title }} - Add entry</h1>
    <p></p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.location() }}
        </p>
        
        <p>
            {{ form.author.label }}<br>
            {{ form.author(size=42) }}
            {% for error in form.author.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date.label }}<br>
            {{ form.date(size=42) }}
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.dewpoint.label }}<br>
            {{ form.dewpoint(size=42) }}
            {% for error in form.dewpoint.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.runtime.label }}<br>
            {{ form.runtime(size=42) }}
            {% for error in form.runtime.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.runtime1.label }}<br>
            {{ form.runtime1(size=42) }}
        </p>
        <p>
            {{ form.runtime2.label }}<br>
            {{ form.runtime2(size=42) }}
        </p>
        <p>
            {{ form.message.label }}<br>
            {{ form.message(cols=42, rows=5) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>    
{% endblock content %}
