{% extends "layout.html" %}

{% block content %}
    <div><br>
    </div>
    <h1>DAF Monitor</h1>
    <hr>
    <h2>{{ title }} - add compressor data</h2>
    <div><br><br>
    </div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <table style="width:100%">
        <tr>
          <th><h3>Compressor Bld. 25c</h3></th>
          <th><h3>Compressor Bld. 26</h3></th>
        </tr>
        <tr>
         <td valign="top">
          <p>
            {{ form.date_25c.label }}<br>
            {{ form.date_25c(size=26) }}<br>
            {% for error in form.date_25c.errors %}
               <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          <p>
            {{ form.dewpoint_25c.label }}<br>
            {{ form.dewpoint_25c(size=26) }}<br>
            {% for error in form.dewpoint_25c.errors %}
               <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.system_25c.label }}<br>
            {{ form.system_25c(size=26) }}<br>
            {% for error in form.system_25c.errors %}
               <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.pump1_25c.label }}<br>
            {{ form.pump1_25c(size=26) }}<br>
            {% for error in form.pump1_25c.errors %}
               <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.pump2_25c.label }}<br>
            {{ form.pump2_25c(size=26) }}<br>
            {% for error in form.pump2_25c.errors %}
               <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
         </td>
         <td valign="top">
          <p>
            {{ form.date_26.label }}<br>
            {{ form.date_26(size=26) }}<br>
            {% for error in form.date_26.errors %}
               <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
        <p>
            {{ form.dewpoint_26.label }}<br>
            {{ form.dewpoint_26(size=26) }}<br>
            {% for error in form.dewpoint_26.errors %}
               <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.compressor_26.label }}<br>
            {{ form.compressor_26(size=26) }}<br>
            {% for error in form.compressor_26.errors %}
               <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        </td>
        </tr>
        <tr>
        <td></td>
        <td>
          <p>{{ form.submit() }}</p>
        </td>
        </tr> 
        </table>
    </form>    
{% endblock content %}

