{% extends "layout.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <p></p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
<!--        <p> Location </p>
        <select name= locations method="GET" action="/">
            {% for loc in locations %}
                <option value= "{{ loc }}" SELECTED>{{ loc }}</option>"
            {% endfor %}
        </select> -->
        <p> {{ form.location.label }}<br>
            {{ form.location() }}
        </p>
        
        <p>{{ form.location.value }}</p>
        
        <p>
            {{ form.author.label }}<br>
            {{ form.author(size=32) }}
        </p>
<!--        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=32) }}
        </p> -->
        <p>
            {{ form.date.label }}<br>
            {{ form.date(size=32) }}
        </p>
        <p>
            {{ form.dewpoint.label }}<br>
            {{ form.dewpoint(size=32) }}
        </p>
        <p>
            {{ form.runtime.label }}<br>
            {{ form.runtime(size=32) }}
        </p>
        <p>
            {{ form.runtime1.label }}<br>
            {{ form.runtime1(size=32) }}
        </p>
        <p>
            {{ form.runtime2.label }}<br>
            {{ form.runtime2(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>    
{% endblock content %}
